
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

table {
  border-spacing: 0px;
}
th {
  font-weight: 900;
}
td {
  border-bottom: 1px solid black;
}

.two-names {
 color: pink;
}

#special-for-may {
  color: aqua;
}

svg {
  border: 1px solid black;
}